@font-face {
font-family: 'Helvetica Neue LT Std 57 Condensed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 57 Condensed'), url('./font/HelveticaNeueLTStd-Cn.woff') format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 56 Italic';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 56 Italic'), url('./font/HelveticaNeueLTStd-It.woff') format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 47 Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 47 Light Condensed'), url('./font/HelveticaNeueLTStd-LtCn.woff') format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('./font/HelveticaNeueLTStd Lt.woff') format('woff');
}


@font-face {
font-family: 'Helvetica Neue LT Std 77 Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 77 Bold Condensed'), url('./font/HelveticaNeueLTStd-BdCn.woff') format('woff');
}
