@import "component/color.scss";
@import "component/initial.scss";

@import "component/custom.scss";
@import "component/font.scss";


body{
	//font-family: 'Helvetica Neue LT Std 57 Condensed';
}

.wrapper{
	width: 1280px;
	margin: auto;
}

.header_title{
	padding: 103px 0;

	.ch{
		font-size: 56px;
		font-weight: bold;
		line-height: 84px;
	}

	.en{
		font-size: 23px;
		line-height: 36px;
	}
}

.num_block{
	padding: 15px;

	.bg-white{
		padding: 64px 40px;
		border-bottom-right-radius: 30px;
    border-top-left-radius: 100px;
    box-shadow: 0 3px 10px #D8D8D8;
	}
}

.block_title{
	font-size: 128px;
	font-weight: bold;
	line-height: 153px;
}

.block_txt{
	font-size: 24px;
	padding-bottom: 8px;
	line-height: 33px;
	width: 113px;
	text-align: left;
	display: inline-block;

	&:nth-last-child(1){
		padding-bottom: 0;
	}
}